<h1 class="animated fadeIn">{{heroe.nombre | uppercase}} <small>({{heroe.aparicion | date:'y'}})</small></h1>
<hr>
<div class="row animated fadeIn fast">
    <div class="col-md-4">
        <img src="{{heroe.img}}" class="img-fluid" alt="{{heroe.nombre}}"/>
        <br><br>
        <button class="btn btn-outline-danger btn-block" routerLink="/heroes">Back</button>
    </div>

    <div class="col-md-8">
        <h3>{{heroe.nombre}}</h3>
        <hr>
        <p>
            {{heroe.bio}}
        </p>
        <div>
            <ng-container *ngIf="isDC">
                <img src="assets/img/dc.png" alt="DC">
            </ng-container>
            <ng-container *ngIf="isMarvel">
                <img src="assets/img/marvel.png" alt="Marvel">
            </ng-container>
        </div>
    </div>
</div>